:root {
    --titulos:'Raleway', sans-serif;
    --parrafos: 'Poppins', sans-serif;
  
    --naranja: #FE4918;
    --hover: #0563BB;
    --activo: #093864;
    --bg: #f2f2f2;
    --claro: #E1E1E1;
    --nav: #999;   
    --oscuro: #292F33;
    --negro: #000000;
    --letras: #45505B;  
    --gradient: linear-gradient(320deg, rgba(200, 200, 200, 0.8), rgba(255, 255, 255, 0.5));
    --shadow:  8px 8px 21px #c4c4c4,
              -8px -8px 21px #ffffff;
    --bg-gradient: linear-gradient(145deg, #dadada, #ffffff);
  }

/* ===Globales=== */
* {
    border: 0px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg);
}

.contenedor{
    width: 98%;
    margin: 0 auto;
  }
  @media (min-width: 480px){
    .contenedor{
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    .contenedor{
      width: 95%;
    }    
  }
  @media (min-width: 992px) {
    .contenedor{
      width: 90%;
      max-width: 1100px;
    }
  }

h1 {
    font-family: var(--titulos);
    color: var(--letras);
    font-size: 4rem;
    text-align: center;
}

.subtitulo {
    margin: 5rem auto;
}

h2 {
    font-family: var(--titulos) !important;
    color: var(--oscuro);
    font-size: 3.2rem !important;
    font-weight: bold !important;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
    position: relative;
    margin-top: 10rem;
}

h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: var(--nav);
    bottom: 1px;
    left: calc(50% - 60px);
}

h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--hover);
    bottom: 0;
    left: calc(50% - 20px);
}

h3, h4, h5, h6 {
    font-size: 2.6rem !important;
    color: var(--letras);
    font-family: var(--titulos) !important;
}

p {
    font-size: 1.6rem !important;
    color: var(--letras);
    font-family: var(--parrafos) !important;    
}

textarea, select, input, button { 
    outline: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

a {
    text-decoration: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

/* ===Estilos del Spin preloader=== */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0563bb;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ===Estilos del Boton Subir=== */

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0563bb;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #0678e3;
  color: #fff;
} 

 .back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* ===Estilos del Header=== */

.cabecera {
    background-image: var(--gradient), url(/assets/img/office.webp);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/*__estilos de la hamburguesa__*/
.navegacion__movil {
    cursor: pointer;
    display: block;
    margin: 1rem;
    text-align: right;
    width: 4rem;

    position: fixed;
    top: 1rem;
    right: 1rem;
    box-shadow: none;
    z-index: 1000;

}

@media (min-width: 768px) {
    .navegacion__movil {
        right: 4rem;
        top: 4rem;
    }
}

._layer {  
	background: var(--negro);
	margin-bottom: .6rem;
	width: 3rem;
	height: .2rem;
	opacity:1;
    -webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all .5s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all .5s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.navegacion__movil.is-active .top {
    -webkit-transform: translateY(370%) rotate(135deg) !important;
	-ms-transform: translateY(370%) rotate(135deg) !important;
	transform: translateY(370%) rotate(135deg) !important;
	background: var(--claro);

}
.navegacion__movil.is-active .mid {
	opacity:0;
  -webkit-transform: translateX(-100%)  !important;
	-ms-transform: translateX(-100%)  !important;
	transform: translateX(-100%)  !important;

}
.navegacion__movil.is-active .bottom {
	-webkit-transform: translateY(-430%) rotate(225deg) !important;
	-ms-transform: translateY(-430%) rotate(225deg) !important;
	transform: translateY(-430%) rotate(225deg) !important;
	background: var(--claro);
}

/* __estilos del menú__ */

.menuppal {
    align-items: center;
    background-color: rgba(41, 47, 51, .95);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    width: 100vw;
    z-index: 500;

    position: fixed;
    left: -100vw;
    top: 0;

    -webkit-tranition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.menuppal.is_active {
    position: fixed;
    left: 0;
    top: 0;   
}

.menuppal a {
    align-items: center;
    color: var(--claro);
    font-family: var(--parrafos);
    font-size: 1.8rem;
    letter-spacing: .3rem;
    /* margin: 1.2rem 4rem;  */
    margin: 0;
    padding: 1rem 0;
    text-align: left;
}

.menuppal a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: var(--hover);
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
    margin: 0;
}

.menuppal a:hover {
    color: var(--bg);
}

.menuppal a:hover::after{
    width: 100%;
}

@media (min-width: 768px) {
    .menuppal a:hover::after {
        width: 75%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .menuppal {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-content : center;
    }

    .menuppal a {
        text-align: center;
        margin: 0;
        padding-top: 50% ; 
        padding-bottom: 50% ; 
    }
    
}

/* ___MAIN___ */
section {
    padding: 10rem 0 0 0;
    overflow: hidden;
}

section .subtitulo-parrafo {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem auto 5rem auto;
    padding: 0 2rem;
    width: 100% !important;
  }
  
  .contenido-seccion {
    width: 100%;
    margin: 0 auto;
  }
  .seccion__imagen {
    width: 100%;
    margin: 0 auto;
  }
  .seccion__texto{
    width: 100%;
    margin: 10rem auto;
  }
  @media (min-width: 768px) {
    .seccion__texto{
      margin: 0 auto;
    }
  }
  .seccion__texto h3,
  .seccion__texto p {
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .seccion__texto h3 {
        text-align: left;
        padding-left: 1rem;
        margin-top: 0;
      }
      .seccion__texto p {
        text-align: left;
        padding: 0 1rem;
      }
  }
  @media (min-width: 768px) {
    div.contenido-seccion {
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: 5rem;
    }
    div.seccion__imagen img {
      width: 100%;
    }
  }

/* ___Estilos del Portfolio___ */
i {
    font-size: 3rem;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #0563bb;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #148af9;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/* _____FORMULARIO________ */

@media (min-width: 768px) {
    #contacto {
      height: 100vh;
  }
    .contenedor-contacto {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 2rem;
  }
}
.contenedor-contacto__micontacto {
    margin: 5rem auto;
    width: 100%;
}

div.info {
    align-items: center;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.info i {
    width: 22%;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 3rem;
}

@media (min-width: 768px) {
    .info i {
        font-size: 2rem;
    } 
}
.personales {
  width: 77%;
}

#mc_embed_signup {
  box-shadow: var(--shadow) !important;
  border-radius: 8px !important;
  width: 94% !important;
  margin: 5rem auto !important;
}
form{
  background: var(--bg-gradient);
  border-radius: 8px !important;
}
@media (min-width: 768px) {
    .migrupo {
      display: flex;
      grid-template-columns: repeat(2,1fr);
      gap: 1rem;
      width: 96%;
  }
}
.comentario-crf {
  width: 100%;
  border: 1px solid #ABB0B2;
  border-radius: 3px;
}
.button {
  background-color: var(--hover) !important;
}
.button:hover {
  background-color: var(--activo) !important;
}


/* ============ */

/* ___Estilos del Footer___ */

.piepagina-crf {
    background-color: var(--oscuro);
  }
  
  /* .pie-crf li {
    border: 2px solid red;
  } */
  
  @media (min-width: 768px) {
      .pie-crf { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .pie-crf li h3 {
    text-align: center;
    color: var(--claro);
    padding: 5rem 0;
  } 
  
  .pie-crf li h3 span {
    color: var(--hover);
  }
  
  .pie-crf li p {
    color: var(--claro);
    margin: 1rem 4rem;
  }
  
  .twitter-timeline {
    padding: 1rem;
  }
  
  .pie-crf li a .pie-iconos {
    color: var(--claro);
    margin-top: 4rem;
  }
  
  .redes-pie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
    width: 85%;
  }

.redes-pie a {
  display: inline-block;
  margin: auto;
  padding-bottom: 3rem ;
  text-align: center;
  width: 100%;
}

  @media (min-width: 768px) {
    .redes-pie {
      text-align: center;
    }
  }
  
  .copyryght {
    background-color: var(--negro);
    color: var(--claro);
    text-align: center;
    font-size: 1.4rem;
    padding: 2rem 0;
    margin-top: 3rem;
  }

  .copyryght p i {
      font-size: 1.5rem;
  }


